<div class="list-container">
    <div class="data-view-header">
        <p-dataView #dv [value]="filteredProducts" layout="listItem">
            <ng-template pTemplate="header">
                <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
            </ng-template>
            <ng-template let-product pTemplate="listItem">
                <div class="col-12 md:col-3">
                    {{product.name}}
                </div>
            </ng-template>
            <ng-template let-product pTemplate="gridItem">
                <div class="col-12 md:col-3">
                    {{product.name}}
                </div>
            </ng-template>
            <!-- <ng-template pTemplate="header">
                <div class="flex justify-content-end">
                    <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
                    <p-dropdown [options]="sortOptions" placeholder="Sort By Price" (onChange)="onSortChange($event)" styleClass="mb-2 md:mb-0"></p-dropdown>
                    <input type="text" placeholder="Search" [(ngModel)]="searchTerm" (input)="filterProducts()" class="search-input">
                </div>
                
            </ng-template> -->
        </p-dataView>
    </div>
</div>