<div class="products">
    <p-dataView #dv [value]="filteredProducts" [paginator]="true" [rows]="10" [rowsPerPageOptions]="[10,25,50]" filterBy="name"
        [sortField]="sortField" [sortOrder]="sortOrder" layout="list">
        <ng-template pTemplate="header">
            <div class="header">
                    <div class="filtering">
                        <p-dropdown [options]="sortOptions" placeholder="Sort By Price" (onChange)="onSortChange($event)"></p-dropdown>
                        <span class="p-input-icon-right">
                            <i class="pi pi-search"></i>
                            <input type="text" pInputText [(ngModel)]="searchTerm" placeholder="Search" (input)="filterProducts()">         
                        </span>
                    </div>
                    <div class="layout">
                        <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
                    </div>
                </div>
        </ng-template>
        <ng-template let-product pTemplate="listItem">
            <div class="listItem">
                <div class="product-list-item">
                    <div class="product-list-detail">
                        <div class="product-name">{{product.name}}</div>
                        <div class="product-description">{{product.description}}</div>
                        <p-rating [ngModel]="product.rating" [readonly]="true" [cancel]="false"></p-rating>
                        <img [src]="'https://primefaces.org/cdn/primeng/images/demo/product/' + product.image" alt="{{ product.name }}">
                        <span class="product-category">{{product.category}}</span>
                    </div>
                    <div class="product-list-action">
                        <span class="product-price">${{product.price}}</span>
                        <p-button icon="pi pi-shopping-cart" label="Add to Cart" [disabled]="product.inventoryStatus === 'OUTOFSTOCK'"></p-button>
                        <span [class]="'product-badge status-' + product.inventoryStatus.toLowerCase()">{{product.inventoryStatus}}</span>
                    </div>
                </div>
            </div>
        </ng-template>
        <ng-template let-product pTemplate="gridItem">
            <div class="col-12 md:col-3 card">
                <div class="product-grid-item">
                    <div class="product-grid-item-top">
                        <div>
                            <img [src]="'https://primefaces.org/cdn/primeng/images/demo/product/' + product.image" alt="{{ product.name }}">
                            <span class="product-category">{{product.category}}</span>
                        </div>
                        <span [class]="'product-badge status-' + product.inventoryStatus.toLowerCase()">{{product.inventoryStatus}}</span>
                    </div>
                    <div class="product-grid-item-content">
                        <div class="product-name">{{product.name}}</div>
                        <div class="product-description">{{product.description}}</div>
                        <p-rating [ngModel]="product.rating" [readonly]="true" [cancel]="false"></p-rating>
                    </div>
                    <div class="product-grid-item-bottom">
                        <span class="product-price">${{product.price}}</span>
                        <p-button icon="pi pi-shopping-cart" [disabled]="product.inventoryStatus === 'OUTOFSTOCK'"></p-button>
                    </div>
                </div>
            </div>
        </ng-template>
    </p-dataView>
</div>